body {
	background-color: aliceblue;
	font-family: "Alegreya", serif;
}

.container {
	border-radius: 16px;
	display: block;
	margin: 56px auto 16px auto;
	max-width: 600px;
	padding: 48px;
}

h1 {
	color: indigo;
	font-size: 36px;
	font-weight: 200;
	line-height: 1.5;
	text-align: center;
}

form {
	background-color: white;
	border-radius: 8px;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	display: flex;
	justify-content: space-between;
	margin-bottom: 32px;
	padding: 32px;
}

input {
	border-radius: 24px;
	font-size: 16px;
	font-weight: 500;
	padding: 12px;
}

.text-field {
	background-color: transparent;
	border: 2px solid rgba(8, 8, 8, 0.2);
	width: 80%;
}

.text-field:focus {
	border: none;
	outline: 2px solid indigo;
}

.submit-button {
	background-color: indigo;
	border: 2px solid indigo;
	border-color: indigo;
	color: white;
	margin-left: 8px;
	transition: all 200ms ease-in-out;
	width: 160px;
}

.submit-button:hover {
	background-color: white;
	color: indigo;
	cursor: pointer;
}

.poem {
	background: white;
	border-left: 3px solid indigo;
	box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
	font-size: 16px;
	font-size: 500;
	line-height: 2;
	padding: 32px;
}

.signature {
	color: indigo;
	display: block;
	font-weight: 700;
	margin-top: 16px;
}

footer {
	font-family: sans-serif;
	font-size: 14px;
	margin: 32px;
	text-align: center;
}

a {
	color: indigo;
	font-weight: 600;
}
